<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{user.name}}
      </ion-card-title>
      <p>
        This is an example app of authentication using Firebase in an Ionic 3 app.
      </p>
    </ion-card-content>    
  </ion-card>
  <ion-button color="danger" expand="full" type="submit" (click)='logout()'>Logout</ion-button>
</ion-content> -->

<ion-split-pane>
  <ion-menu contentId="content">
 
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
 
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
 
        <ion-item tappable routerLink="/login" routerDirection="root">          
          Logout
        </ion-item>
 
      </ion-list>
 
    </ion-content>
 
  </ion-menu>
 
  <ion-router-outlet id="content" main></ion-router-outlet>
 
</ion-split-pane>
