<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-no-padding>

    <ion-list>
        <ion-item-group>
            <ion-item-divider>
              <ion-label>A</ion-label>
            </ion-item-divider>
          
            <ion-item routerLink="/actionsheet" routerDirection="forward">
              <ion-label>Action Sheet</ion-label>
            </ion-item>
            <ion-item routerLink="/alert" routerDirection="forward">
              <ion-label>Alert</ion-label>
            </ion-item>
          </ion-item-group>
          
          <ion-item-group>
            <ion-item-divider>
              <ion-label>B</ion-label>
            </ion-item-divider>
          
            <ion-item routerLink="/badge" routerDirection="forward">
              <ion-label>Badge</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Button</ion-label>
            </ion-item>
          </ion-item-group>

          <ion-item-group>
              <ion-item-divider>
                <ion-label>C</ion-label>
              </ion-item-divider>
            
              <ion-item>
                <ion-label>Card</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Checkbox</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Chip</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Content</ion-label>
              </ion-item>
            </ion-item-group>

            <ion-item-group>
                <ion-item-divider>
                  <ion-label>D</ion-label>
                </ion-item-divider>
              
                <ion-item>
                  <ion-label>Date and Time</ion-label>
                </ion-item>
              </ion-item-group>

              <ion-item-group>
                  <ion-item-divider>
                    <ion-label>F</ion-label>
                  </ion-item-divider>
                
                  <ion-item>
                    <ion-label>Floating Action Button</ion-label>
                  </ion-item>
                </ion-item-group>

                <ion-item-group>
                    <ion-item-divider>
                      <ion-label>G</ion-label>
                    </ion-item-divider>
                  
                    <ion-item>
                      <ion-label>Grid</ion-label>
                    </ion-item>
                  </ion-item-group>

                  <ion-item-group>
                      <ion-item-divider>
                        <ion-label>I</ion-label>
                      </ion-item-divider>
                    
                      <ion-item>
                        <ion-label>Infinite Scroll</ion-label>
                      </ion-item>
                      <ion-item>
                          <ion-label>Icons</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>Inputs</ion-label>
                          </ion-item>
                          <ion-item>
                              <ion-label>Item</ion-label>
                            </ion-item>
                    </ion-item-group>

                    <ion-item-group>
                        <ion-item-divider>
                          <ion-label>L</ion-label>
                        </ion-item-divider>
                      
                        <ion-item>
                          <ion-label>List</ion-label>
                        </ion-item>
                      </ion-item-group>

                      <ion-item-group>
                          <ion-item-divider>
                            <ion-label>M</ion-label>
                          </ion-item-divider>
                        
                          <ion-item>
                            <ion-label>Menu</ion-label>
                          </ion-item>
                          <ion-item>
                              <ion-label>Modal</ion-label>
                            </ion-item>
                        </ion-item-group>

                        <ion-item-group>
                            <ion-item-divider>
                              <ion-label>N</ion-label>
                            </ion-item-divider>
                          
                            <ion-item>
                              <ion-label>Navigation</ion-label>
                            </ion-item>
                          </ion-item-group>

                          <ion-item-group>
                              <ion-item-divider>
                                <ion-label>P</ion-label>
                              </ion-item-divider>
                            
                              <ion-item>
                                <ion-label>Pop over</ion-label>
                              </ion-item>
                              <ion-item>
                                  <ion-label>Progress Indicator</ion-label>
                                </ion-item>
                            </ion-item-group>

                            <ion-item-group>
                                <ion-item-divider>
                                  <ion-label>R</ion-label>
                                </ion-item-divider>
                              
                                <ion-item>
                                  <ion-label>Radio</ion-label>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Refersher</ion-label>
                                  </ion-item>
                                  <ion-item>
                                      <ion-label>Reorder</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>Routing</ion-label>
                                      </ion-item>
                              </ion-item-group>

                              <ion-item-group>
                                  <ion-item-divider>
                                    <ion-label>S</ion-label>
                                  </ion-item-divider>
                                
                                  <ion-item>
                                    <ion-label>Search bar</ion-label>
                                  </ion-item>
                                  <ion-item>
                                      <ion-label>Segment</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>Select</ion-label>
                                      </ion-item>
                                      <ion-item>
                                          <ion-label>Slides</ion-label>
                                        </ion-item>
                                </ion-item-group>

                                <ion-item-group>
                                    <ion-item-divider>
                                      <ion-label>T</ion-label>
                                    </ion-item-divider>
                                  
                                    <ion-item>
                                      <ion-label>Tabs</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label>Toast</ion-label>
                                      </ion-item>
                                      <ion-item>
                                          <ion-label>Toggle</ion-label>
                                        </ion-item>
                                        <ion-item>
                                            <ion-label>Toolbar</ion-label>
                                          </ion-item>
                                  </ion-item-group>
          
    </ion-list>
</ion-content>
